/*
!/PPlusVideoFilter
!/PPlusVideoFilter.sln
!/.gitignore
!/include
!/lib
!/DummyMapFileWriter
/DummyMapFileWriter/.vs
/DummyMapFileWriter/DummyMapFileWriter/bin
/DummyMapFileWriter/DummyMapFileWriter/obj